:root {
  scroll-behavior: smooth;
  font-family: "Nanum Gothic", sans-serif;
}

body {
  max-width: 1200px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
header,
main,
footer {
  margin: 0;
  padding: 0;
}
header .logo {
  margin: 10px;
}
header nav .menu {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
}
header nav .menu .menu-btn {
  color: black;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
}
header nav .menu .dropdown-content {
  display: none;
  position: absolute;
}
header nav .menu .menu-btn:hover,
.dropdown:hover .menu-btn {
  background-color: #4b4b4b;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
header nav .menu .dropdown .dropdown-content .menu-btn-dropdown {
  color: black;
  font-size: 1.15rem;
  background-color: #f9f9f9;
  display: block;
  text-transform: uppercase;
  padding: 10px 10px 10px 0;
  text-align: left;
  text-decoration: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 2px;
}
header nav .menu .dropdown:hover .dropdown-content {
  display: block;
}
header nav .menu .dropdown .dropdown-content .menu-btn-dropdown:hover {
  background-color: #4b4b4b;
  color: white;
  border-radius: 5px;
}
header .text-logo {
  margin: 10px;
  padding: 20px;
  font-size: 2.5rem;
  text-transform: uppercase;
}
header .text-logo-slogan {
  font-size: 1.4rem;
  font-style: italic;
  margin: 10px;
  padding: 0 0 20px 20px;
}
body h2 {
  text-transform: uppercase;
  padding: 50px 50px 25px 10px;
}
body .banner {
  background-image: url(../img/banner.jpg);
  width: 100%;
  height: 500px;
}
body .titles {
  background-color: black;
  color: white;
  font-size: 1.15rem;
  padding: 25px 15px 25px 15px;
}
body .titles .title-text {
  text-transform: uppercase;
  font-weight: 750;
}
body .titles .title-list {
  margin: 5px;
  padding: 15px;
  list-style-type: circle;
}
body .titles .title-list .title-text-decor {
  font-weight: 750;
  font-style: italic;
}
body .titles .other-title {
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
body .result-text {
  font-size: 1.3rem;
  text-align: center;
  margin: 15px;
}
body .result-link {
  display: flex;
  justify-content: center;
  margin: 15px;
  padding: 20px;
}
body .result-link .result-btn {
  background-color: rgb(22, 15, 92);
  padding: 10px;
  border-radius: 15px;
  border: transparent;
}
body .result-link .result-btn .result-btn-link {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}
body .result-link .result-btn:hover {
  background-color: rgb(21, 129, 69);
  transition: all 0.4s;
  cursor: pointer;
}
body .contact-text {
  font-size: 1.15rem;
  margin: 15px;
}
body .links {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
body footer .bottom-strip {
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
}
body footer .bottom-strip .bottom-strip-text {
  color: red;
  font-weight: 600;
  font-style: italic;
}
